:root{
	font-family: 'Open Sans', sans-serif;
}


#map{
	width: 70%;
	height: 100%;
	margin: auto;
	padding-top: 30px;
	float: left;
	display: inline-block;
}
#heatmapBikes, #heatmapDocks,#heatmapStations{
	width: 50vh;
	height: 50vh;
	margin: auto;
	padding-top: 30px;
	float: left;
	display: inline-block;
}

#landing {
        height: 90vh;
        margin: 0;
        padding: 0;
      }

.nav-item{
	display: inline-block;	
	padding: 15px 15px;
}

#system-data{
	display: inline;
}

.stat, .stat-name{
	text-align: center;
}

.stat {
	font-size: 4em;
}

.stat-name{
	font-size: 1em;
}

.stat-box{
	margin-bottom: 50px;
}

.station-table-div{
	 width:98%; 
    margin:1%;
}

.station-table{
    margin-left:auto; 
    margin-right:auto; 
}

.subtitle{
	font-size: 1.5em;
    margin: auto;
    width: max-content;
    align-content: center;
    padding-top: 100px;


}

th{
	font-style: bold;
}

th, td {
  padding-left: 15px;
  padding-top: 15px;
  text-align: left;
}

#button-cell{
	padding-left: 30px;
  	padding-top: 15px;
}


